---
import BaseLayout from "@/layouts/BaseLayout.astro";
import LinkCard from "@/components/widget/LinkCard.astro";
import { FRIEND_LINK } from "@/config";

const { info, groups, siteshotPrefix } = FRIEND_LINK

const myInfo = `
- name: ${info.author}
  link: ${info.baseUrl}
  avatar: ${info.avatarUrl}
  descr: ${info.description}
  siteshot: ${info.siteshotUrl}
`
const infoCommentTemplate =
`
你好，已添加友链！
\`\`\`yaml
- name: 网站名称
  link: 主页链接
  avatar: 头像链接
  descr: 网站描述
  siteshot: 网站快照 可空 默认${siteshotPrefix}{link}
\`\`\`
`
groups.forEach(({links})=>links.forEach(link=>{
  link.siteshot = link.siteshot ? link.siteshot : siteshotPrefix + link.link
  link.siteshot = link.siteshot.startsWith("/") ? siteshotPrefix + link.siteshot : link.siteshot
}))
---
<BaseLayout subtitle="友情链接" asideOff>

<div>
  {groups.map(({groupType,groupName,groupDesc,links}) => (
    <div class="mb10">
      <h1>{groupName}</h1>
      <p>{groupDesc}</p>
      <div>{links.map(link=><div class="inline-block m1"><LinkCard type={groupType} {...link}/></div>)}</div>
    </div>
  ))}
</div>
</BaseLayout>