---
import { Icon } from "astro-icon/components";
import type { Page } from "astro";
import If from "./atomic/If.astro";

type Props = {
  page: Page;
};

const { page } = Astro.props;
const pageNav = new Array(page.lastPage).fill(0).map((_,index)=> ({
  num : index + 1 ,
  url: "/page/" + (index == 0 ? '' : index + 1),
  isCurrent: index + 1  == page.currentPage
}))
---

<nav class="flex justify-center my6 ">
  <div class="flex space-x-2">
    <If condition={page.url.prev}>
      <a class="btn-num" href={page.url.prev}>88888888<Icon name="mdi:chevron-left"/></a>
    </If>
    {
      pageNav.map(p=>(
        <a class="btn-num" href={p.url} style={{backgroundColor:page.currentPage==p.num?'#7B9EB6':'',color:page.currentPage==p.num?'#fff':''}}>{p.num}</a>
      ))
    }
    <If condition={page.url.next}>
      <a class="btn-num" href={page.url.next}><Icon name="mdi:chevron-right"/></a>
    </If>
  </div>
</nav>
